<section class="vh-100 bg-image"
  style="background-image: url(assets/img/slide-1.jpg);">
<div class="container col-xl-12 section-t8 cont contact " >
    <div class="row align-items-end">
        <div class="container col-md-7">
            
            <form #SignupForm="ngForm"  class="php-email-form " style="border-radius: 15px;">
                <div class="col-md-12 text-center " style="padding-bottom: 4%;">
                    <div class="title-single-box">
    
                        <h1 class="title-single">Reset Password</h1>
                    </div>
                </div>
                
                
                            
                        <div class="col-xl ">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">Email</label>
                                <input type="email" required email class="form-control" id="email" name="email" [(ngModel)]="user.email" >
                            </div>
                        </div>
                     
                       
                    <div class="col-md-12 text-center" style="padding-top: 5%;">  
                            <button (click)="resetPassword()" type="submit" class="btn btn-lg btn-success">Reset Password</button>
                    </div>
            </form>
            
        </div>
</div>
</div>
</section>
<app-footer></app-footer>