
        <div class="container login-container">
            <img class="triangleA" src="https://res.cloudinary.com/procraftstudio/image/upload/v1613965232/triangleA_lwqhnl.png" alt='Onestop triangle'>
          <div class="row">
              
                
              
              
            <div class="col-md-6 welcome_auth">
                
                <div class="auth_welcome">
                    Reset you password!
                </div>
            </div>         
            <div class="col-md-6 login-form">
                <div class="login_form_in">
                   
                  <h1 class="auth_title text-center">Password Reset</h1>
                  <form (ngSubmit)="onReset()" >
                    <div class="alert alert-success bg-soft-primary border-0" >
                       <p style="color: black; font-weight: bold;"> Enter your email address and we'll send you an email with instructions to reset your password.</p>
                    </div>                    
                    <div class="form-group">
                      <input type="email" required [(ngModel)]="form.email" class="form-control cont" style="margin-bottom: 4%;" name="email" placeholder="Email Address">
                    
                      <button type="submit" class="btn btn-success" style="margin-left: 30%;" >Reset Password</button>
                    </div>
                    <div class="form-group other_auth_links">
                        <a class="" >Login</a>
                        <a class="" >Register</a>
                    </div>
                  </form>
                </div>
            </div>       
          </div>
        </div>