<section class="vh-100 bg-image"
  style="background-image: url(assets/img/slide-1.jpg);">
<div class="container col-xl-12 section-t8 cont contact " >
    <div class="row align-items-end">
        <div class="container col-md-7">
            
            <form (ngSubmit)="userRegister()"  class="php-email-form " style="border-radius: 15px;">
                <div class="col-md-12 text-center " style="padding-bottom: 4%;">
                    <div class="title-single-box">
    
                        <h1 class="title-single">Create your account!</h1>
                    </div>
                </div>
                
                <div class="col-xl ">
                    <div class="form-group">
            
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control " id="name" name="name" [(ngModel)]="user.username">
            
                </div>
            </div>
            <div class="col-xl ">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">Lastname</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname">
                            </div>
                        </div>
                            
                        <div class="col-xl ">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" >
                            </div>
                        </div>
                        <div class="col-xl ">
                                <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phoneNumber">
                            </div>
                        </div>
                        <div class="col-xl ">
                                <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" >
                            </div>
                        </div>
                            
                       
                                <re-captcha (resolved)="resolved($event)" siteKey="6LfPO8AfAAAAAMIe-9_6VXb4A5-dY7t0pskuNJTt">
                      </re-captcha>
                       
                    <div class="col-md-12 text-center" style="padding-top: 5%;">  
                            <button type="submit" class="btn btn-lg btn-success">Register</button>
                    </div>
            </form>
            
        </div>
</div>
</div>
</section>
<app-footer></app-footer>